@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br />
    <h1 style = "color:purple" class="display-4"><strong>Kutuphane Sistemine Hoş Geldiniz</strong></h1>
    <br />
    <br />
    <p><img src="/img/library.png"width="600" height="600" /></p>

</div>


